.background {
  background-color: black;
  background-image: url(../images/Space-Background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: "Andika", Helvetica, sans-serif;
  color: #ffff00;
}

/* ------------- Back Panel ------------- */

.back-panel {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 150px;
  padding: 20px;
  width: 90%;
  max-width: 100vw;
  height: 90%;
  max-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ------------- Home ------------- */

/*.height {
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

/* ------------- Board ------------- */

#board {
  height: 540px;
  width: 630px;
  background-color: blue;
  border: 10px solid navy;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align the tiles horizontally */
  align-items: center; /* Center align the tiles vertically */
}

.tile {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid navy;
}

@media only screen and (max-width: 320px) {
  #board {
    height: 180px;
    width: 210px;
    border: 3px solid navy;
  }

  .tile {
    height: 23px;
    width: 23px;
    margin: 1.5px;
    border: 1.5px solid navy;
  }
}

@media only screen and (max-width: 768px) {
  #board {
    height: 360px;
    width: 420px;
    border: 6px solid navy;
  }

  .tile {
    height: 45px;
    width: 45px;
    margin: 3px;
    border: 3px solid navy;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #board {
    height: 450px;
    width: 525px;
    border: 8px solid navy;
  }

  .tile {
    height: 60px;
    width: 60px;
    margin: 4px;
    border: 4px solid navy;
  }
}

@media only screen and (max-width: 932px) {
  #board {
    height: 270px;
    width: 315px;
    border: 5px solid navy;
  }

  .tile {
    height: 35px;
    width: 35px;
    margin: 2.5px;
    border: 2.5px solid navy;
  }
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: #ffff00;
}

/* ------------- Text ------------- */

.title {
  font-size: 10vw;
}

.rules {
  font-size: 2vw;
}

.andika-bold {
  font-weight: 700;
  font-style: normal;
}

li {
  list-style-type: none;
  background-color: rgba(179, 0, 21, 0.702);
}

.cPlayer {
  font-size: 3vw;
}
/* ------------- Buttons ------------- */

.button-container-right {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.button-container-left {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.button-container-right button {
  margin-bottom: 10px;
}

.button-container-left button {
  margin-bottom: 10px;
}

/*button idea from https://getcssscan.com/css-buttons-examples*/
.button-styling {
  appearance: none;
  background-color: rgba(179, 0, 21, 0.702);
  border: 2px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Andika", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-styling:disabled {
  pointer-events: none;
}

.button-styling:hover {
  color: #fff;
  background-color: rgba(179, 0, 21, 0.9);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-styling:active {
  box-shadow: none;
  transform: translateY(0);
}

.home-screen-btn {
  padding: 70px 20px;
  border-radius: 150px;
  width: 80%;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: thick;
  background-color: rgba(179, 0, 21, 0.9);
}

@media only screen and (max-width: 932px) {
  .text-hidden {
    display: none;
  }
}
/* ------------- Hide ------------- */
.hide {
  display: none;
}
