body {
  font-family: Andika, Helvetica, sans-serif;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

/* ------------- Board ------------- */

#board {
  height: 540px;
  width: 630px;
  background-color: blue;
  border: 10px solid navy;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.tile {
  height: 70px;
  width: 70px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  border: 5px solid navy;
}

.red-piece {
  background-color: red;
}

.yellow-piece {
  background-color: yellow;
}

.title {
  margin-top: 20px;
}

/* ------------- Buttons ------------- */

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin-bottom: 10px;
}
